::selection {
    background: #0097A7;
    color: #B2EBF2;
}

ul, ul li {
    list-style: none;
}

.fixed-botton {
    position: fixed;
    bottom: 0px;
}


.mdl-layout__header {
    padding: 0.5em;
}

.mdl-layout__drawer-button .material-icons,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link,
.mdl-layout__header-row .material-icons {
    color: white;
}

.mdl-layout__drawer {
    background: #009688;
    border: 0px;
    color: white;
}

.mdl-layout__header-row {
    padding-left: 50px;
}

.mdl-layout-title {
    margin-top: 2em;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background: #88cccc;
}

.mdl-badge[data-badge]:after {
    background-color: #0097A7;
    color: #fff;
    right: -1em;
}

.mdl-navigation__link .material-icons {
    vertical-align: middle;
}

.mdl-menu__container.is-visible, .mdl-menu__container.is-animating {
    right: 1em !important;
}

.mdl-layout-title img{
    width: 85%;
}

main .mdl-grid {
    margin-top: 7em;
    margin-bottom: 2em;
}

.main2 article:first-child {
    border-top: none;
}

.main2 article{
    border-top: 1px solid #727272;
}

article img.fotoArt {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

article p {
    text-align: justify;
}

article p.article-footer {
    font-size: 0.8em;
}

/*article span.valoracion button, 
article span.published {
    font-weight: lighter !important;
    color: #727272;
}*/

article span.tags {
    text-align: right;
}

article span.tags button{
    text-transform: lowercase;
    line-height: 1em;
    padding: 0px;
}

article .mdl-grid {
    margin-top: 2.5em;
    margin-bottom: 0px;
}

form .mdl-checkbox.is-upgraded {
    margin-left: 100px;
}

ul.coments:last-child {
    margin-bottom: 1.5em;
}
article ul.coments li {
    margin-top: 0px;
    padding: 0px;
    line-height: 0.75em;
    vertical-align: middle;
}

article ul.coments li .add {
    margin-top: -4em;
}

article ul.coments li form .mdl-textfield {
    width: 80%;
}


.popup {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    z-index: 999;
    position: absolute;
    display: table;
}

.popup .cont-pop {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.popup .cont-pop form {
    padding: 2em;
    text-align: right;
    margin: 0px auto;
    background: #fff;
    vertical-align: middle;
}

.popup .cont-pop form .mdl-textfield {
    width: 100%;
}


.cont-pop form#new-public {
    width: 1000px;
}

/*HOME*/
.mdl-layout__header-row form .mdl-textfield{
    width: 100px;
}
form.frm-white{
    background: #FFF !important;
    padding: 1em;
}

@media screen and (max-width:1200px){
    .cont-pop form#new-public {
        width: 900px;
    }
    form .mdl-checkbox.is-upgraded {
        margin-left: 70px;
    }
}

@media screen and (max-width:900px){
    .cont-pop form#new-public {
        width: 500px;
    }
}

@media screen and (max-width:500px){
    .cont-pop form#new-public {
        width: 85%;
    }
}

@media screen and (max-width:300px){
    .cont-pop form#new-public {
        width: 85%;
    }
    .cont-pop form#loginFrm {
        width: 280px;
    }
}